.block-search-form {
  form {
    margin: 0;
    padding: 0;
  }
  .search-button, .form-item {
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 3em;
    line-height: 3em;
    float: left;
  }
  .search-button {
    width: 40%;
    @media #{$small} {
      width: 30%;
    }
    background: transparent;
    color: $red;
    border: none;
    text-transform: capitalize;
    text-align: right;
    padding-right: .5em;
  }
  .form-item {
    width: 60%;
    @media #{$small} {
      width: 70%;
    }
    height: 2em;
    padding: .5em 0;
    input {
      margin: 0;
    }
  }
}
