// Non-modular or client styles for .l-header region.
body {
  line-height: 1.5em;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.title-highlight {
  text-align: center;
  margin: auto;
  font-weight: 600;
  position: relative;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: .25em;
  &:after {
    width: 30px;
    height: 3px;
    background: $red;
    text-align: center;
    margin: auto;
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
  }
}

.l-header-top {
  border-bottom: 1px solid $grey-light;
  .columns {
    font-size: em-calc(12);
    @media #{$small} {
      font-size: em-calc(16);
    }
    border-top: 1px solid $grey-light;
    border-left: 1px solid $grey-light;
    text-align: center;
    &:first-child {
      border-left: 0;
    }
    &:last-child {
      border-right: 1px solid $grey-light;
    }
    h2 {
      display: none;
    }
    > a, section > a, .cart-widget p {
      display: inline-block;
      text-align: center;
      height: 3em;
      line-height: 3em;
      width: 100%;
      margin: 0;
    }
    .form-item-search-block-form {
      @media #{$small} {
        font-size: em-calc(14);
      }
    }
  }

  .social-media {
    text-align: left;
    > a, section > a {
      padding: 0 1em;
    }
    a {
      text-align: center;
      width: auto;
      border-left: 1px solid $grey-light;
      &:first-child {
        margin-left: -1em;
      }
      &:last-child {
        border-right: 1px solid $grey-light;
      }
    }
    i {
      width: 1em;
    }
  }
  .cart-widget {
    > * {
      display: inline-block;
    }
  }
}

.l-header {
  margin: 1em 0;
}
.logo-wrapper {
  text-align: center;
  img.logo {
    margin: .5em 0;
  }
}

// Top Bar
//--------------------------------------------------
.top-bar {
  background: transparent;
  color: black;
  .toggle-topbar.menu-icon a span {
    -webkit-box-shadow: 0 10px 0 1px $red, 0 16px 0 1px $red, 0 22px 0 1px $red;
    box-shadow: 0 10px 0 1px $red, 0 16px 0 1px $red, 0 22px 0 1px $red;
  }
  .toggle-topbar.menu-icon a {
    color: black;
  }
  .title-area {}
  &.expanded {
    background: white;
    color: black;
    .title-area {
      background: white;
      color: black;
    }
  }
}

.top-bar-section {
  ul {
    float: right !important;
    background: $grey-light;
    margin-top: .5em;
    li {
      margin: .125em;
      position: relative;
       > a, > a:not(.button) {
         @include transition();
         @include radius(3px);
         font-size: em-calc(12);
         font-weight: 200;
         text-transform: uppercase;;
         text-align: center;
         line-height: 2.5em;
         color: black;
         background: white;
         padding: 0 .75em;
         &:hover {
           color: white;
         }
       }
       &.active {
          > a, > a:not(.button) {
            color: white;
            background: $red;
          }
       }
    }
  }
  .has-dropdown {
    > a {
      padding-right: 1.5em !important;
    }
    > a:after {
      top: 13px;
      border-color: $grey transparent transparent transparent;
      margin-right: .25em;
    }
    &.active {
      > a:after {
        border-color: $white transparent transparent transparent;
      }
    }
  }
  .dropdown {
    margin: 0;
    li {
      width: auto;
      &.title h5 a {
        color: $red;
      }
    }
  }
}
.top-bar-section .left {}
.top-bar-section .right {}

@media #{$small} {
  .top-bar-section {
    ul {
      background: white;
      li {
        margin: 0 .125em;
      }
    }
    ul.dropdown {
      @include radius(3px);
      background: $grey;
      li {
        margin: 0;
        background: transparent;
        width: 100%;
        > a {
          color: $white;
          background: transparent;
        }
      }
    }
  }
  img {
    width: auto;
    max-width: 100%;
    height: auto;
  }
}
