// Docs: http://foundation.zurb.com/docs/components/buttons.html
//
// Before adding styles be sure to modify variables in the
// "scss/_variables.scss" file.

button, .button, a.button {
  @include radius(3px);
  @include box-shadow(0,0,0,0);
  background: $red;
  color: white;
  text-transform: uppercase;
  font-weight: 200;
  padding: .5em 1em;
  margin-right: 1em;
}

.button-alt, a.button-alt {
  @include transition();
  @include radius(3px);
  padding: .5em 1em;
  background: $grey-dark;
  color: white;
  text-transform: uppercase;
  font-weight: 200;
  &:hover {
    background: lighten($grey-dark, 15%);
  }
}
