// Non-modular or client styles for the .l-content region.
.l-messages {
  margin-top: 1em;
}
.page-heading {
  @include box-shadow(0, 0, .5em, lighten($grey, 30%), true);
  background: $grey-light;
  h1#page-title {
    margin: 0;
    padding: 0;
    display: inline-block;
    border-bottom: 3px solid $red;
  }
}
.l-main {
  margin-top: 1em;
  margin-bottom: 1em;
}

.node {
  .field-name-body {
    img {
      margin: 1em;
    }
  }
}
.body {}
.image {}
.breadcrumb {}
