/* Available Variables */
$small-screen: em-calc(768);
$medium-screen: em-calc(1280);
$large-screen: em-calc(1440);
// 
// // $screen: "only screen";
// $small: "(min-width:"#{$small-screen}")";
// $medium: "(min-width:"#{$medium-screen}")";
// $large: "(min-width:"#{$large-screen}")";
// $landscape: "(orientation: landscape)";
// $portrait: "(orientation: portrait)";
